<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>start.html</title>
</head>
<body>
    <h1>Ich bin die start.html - Datei</h1>
    <!-- der Parameter "name" muss genauso heißen, wie der Parametername in der run.py Datei in der Return Funktion -->
    <h2>Mein Name ist {{ name }}</h2>

    <!-- Parameter items beinhaltet eine Liste mit Werten, diese Werte werden durch eine For Schleife ausgegegben -->
    {% for item in items %}
        <p>{{ item }}</p>
    {% endfor %}
</body>
</html>